.applied-applicants-container {
  padding-top: 80px;
  background-color: aliceblue;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.applied-applicants-table {
  background-color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.applied-applicants-table-header {
  display: flex;
  align-items: center;
  background-color: #fff;
  width: 940px;
  padding: 0 20px;
  margin-bottom: 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.applicant-card-name-heading {
  margin: 0;
  padding: 0;
  width: 400px;
  font-weight: bold;
}

.applicant-card-email-heading {
  margin: 0;
  padding: 0;
  width: 400px;
  font-weight: bold;
}

.applicant-card-resume-heading {
  font-weight: bold;
}
